<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Codigrate.ThemeName</key>
	<string>Codigrate Paris</string>
	<key>User.Options.Appearance.ViewportBackgroundColor</key>
	<string>0,40,29,34</string>
	<key>User.Options.Appearance.FrameBackgroundColor</key>
	<string>0,79,48,60</string>
	<key>User.Options.Appearance.CommandPromptBackgroundColor</key>
	<string>0,16,13,14</string>
	<key>User.Options.Appearance.CommandPromptTextColor</key>
	<string>0,230,215,221</string>
	<key>User.Options.Appearance.CommandPromptActiveHypertextColor</key>
	<string>0,209,143,168</string>
	<key>User.Options.Appearance.SelectedObjectColor</key>
	<string>0,209,143,168</string>
	<key>User.Options.Appearance.EditCandidateColor</key>
	<string>0,94,123,179</string>
	<key>User.Options.Appearance.LockedObjectColor</key>
	<string>0,199,159,174</string>
	<key>User.Options.Appearance.CrosshairColor</key>
	<string>0,199,159,174</string>
	<key>User.Options.Appearance.CurrentLayerBackgroundColor</key>
	<string>0,93,63,73</string>
	<key>User.Options.Appearance.PageViewPaperColor</key>
	<string>0,106,60,77</string>
	<key>User.Options.Appearance.DefaultLayerColor</key>
	<string>0,230,215,221</string>
	<key>User.Options.Appearance.DefaultColor</key>
	<string>0,230,215,221</string>
	<key>User.Options.Appearance.TrackingColor</key>
	<string>0,213,162,76</string>
	<key>User.Options.Appearance.FeedbackColor</key>
	<string>0,209,143,168</string>
	<key>User.Options.Appearance.WorldCoordinateIconXAxisColor</key>
	<string>0,209,90,86</string>
	<key>User.Options.Appearance.WorldCoordinateIconYAxisColor</key>
	<string>0,92,168,108</string>
	<key>User.Options.Appearance.WorldCoordinateIconZAxisColor</key>
	<string>0,90,138,192</string>
	<key>User.Options.Appearance.DirectionArrowColorU</key>
	<string>0,209,90,86</string>
	<key>User.Options.Appearance.DirectionArrowColorV</key>
	<string>0,92,168,108</string>
	<key>User.Options.Appearance.DirectionArrowColorW</key>
	<string>0,90,138,192</string>
	<key>User.Options.Grid.ThinLineColor</key>
	<string>0,62,52,56</string>
	<key>User.Options.Grid.ThickLineColor</key>
	<string>0,79,70,74</string>
	<key>User.Options.Grid.XAxisColor</key>
	<string>0,209,90,86</string>
	<key>User.Options.Grid.YAxisColor</key>
	<string>0,92,168,108</string>
	<key>User.Options.Grid.ZAxisColor</key>
	<string>0,90,138,192</string>
	<key>User.Options.UiPaintColors.NormalStart</key>
	<string>0,79,48,60</string>
	<key>User.Options.UiPaintColors.NormalEnd</key>
	<string>0,79,48,60</string>
	<key>User.Options.UiPaintColors.NormalBorder</key>
	<string>0,106,60,77</string>
	<key>User.Options.UiPaintColors.MouseOverControlStart</key>
	<string>0,60,37,45</string>
	<key>User.Options.UiPaintColors.MouseOverControlEnd</key>
	<string>0,60,37,45</string>
	<key>User.Options.UiPaintColors.MouseOverControlBorder</key>
	<string>0,153,71,83</string>
	<key>User.Options.UiPaintColors.HotStart</key>
	<string>0,83,45,51</string>
	<key>User.Options.UiPaintColors.HotEnd</key>
	<string>0,83,45,51</string>
	<key>User.Options.UiPaintColors.HotBorder</key>
	<string>0,153,71,83</string>
	<key>User.Options.UiPaintColors.PressedStart</key>
	<string>0,93,63,73</string>
	<key>User.Options.UiPaintColors.PressedEnd</key>
	<string>0,93,63,73</string>
	<key>User.Options.UiPaintColors.PressedBorder</key>
	<string>0,155,100,121</string>
	<key>User.Options.UiPaintColors.TextEnabled</key>
	<string>0,230,215,221</string>
	<key>User.Options.UiPaintColors.TextDisabled</key>
	<string>0,230,215,221</string>
	<key>User.Options.UiPaintColors.ActiveCaption</key>
	<string>0,93,63,73</string>
	<key>User.Options.UiPaintColors.InactiveCaption</key>
	<string>0,79,48,60</string>
	<key>User.Options.UiPaintColors.ActiveViewportTitle</key>
	<string>0,209,143,168</string>
	<key>User.Options.UiPaintColors.InactiveViewportTitle</key>
	<string>0,79,48,60</string>
	<key>User.Options.UiPaintColors.EditBoxBackground</key>
	<string>0,16,13,14</string>
	<key>User.Options.UiPaintColors.InactiveTabBackground</key>
	<string>0,79,48,60</string>
</dict>
</plist>
