<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Codigrate.ThemeName</key>
	<string>Codigrate Rio de Janeiro</string>
	<key>User.Options.Appearance.ViewportBackgroundColor</key>
	<string>0,247,250,246</string>
	<key>User.Options.Appearance.FrameBackgroundColor</key>
	<string>0,217,239,210</string>
	<key>User.Options.Appearance.CommandPromptBackgroundColor</key>
	<string>0,255,255,255</string>
	<key>User.Options.Appearance.CommandPromptTextColor</key>
	<string>0,26,81,10</string>
	<key>User.Options.Appearance.CommandPromptActiveHypertextColor</key>
	<string>0,55,91,46</string>
	<key>User.Options.Appearance.SelectedObjectColor</key>
	<string>0,55,91,46</string>
	<key>User.Options.Appearance.EditCandidateColor</key>
	<string>0,34,135,213</string>
	<key>User.Options.Appearance.LockedObjectColor</key>
	<string>0,45,123,24</string>
	<key>User.Options.Appearance.CrosshairColor</key>
	<string>0,45,123,24</string>
	<key>User.Options.Appearance.CurrentLayerBackgroundColor</key>
	<string>0,184,229,173</string>
	<key>User.Options.Appearance.PageViewPaperColor</key>
	<string>0,133,183,120</string>
	<key>User.Options.Appearance.DefaultLayerColor</key>
	<string>0,26,81,10</string>
	<key>User.Options.Appearance.DefaultColor</key>
	<string>0,26,81,10</string>
	<key>User.Options.Appearance.TrackingColor</key>
	<string>0,230,196,26</string>
	<key>User.Options.Appearance.FeedbackColor</key>
	<string>0,55,91,46</string>
	<key>User.Options.Appearance.WorldCoordinateIconXAxisColor</key>
	<string>0,209,86,71</string>
	<key>User.Options.Appearance.WorldCoordinateIconYAxisColor</key>
	<string>0,48,162,94</string>
	<key>User.Options.Appearance.WorldCoordinateIconZAxisColor</key>
	<string>0,34,135,213</string>
	<key>User.Options.Appearance.DirectionArrowColorU</key>
	<string>0,209,86,71</string>
	<key>User.Options.Appearance.DirectionArrowColorV</key>
	<string>0,48,162,94</string>
	<key>User.Options.Appearance.DirectionArrowColorW</key>
	<string>0,34,135,213</string>
	<key>User.Options.Grid.ThinLineColor</key>
	<string>0,230,233,229</string>
	<key>User.Options.Grid.ThickLineColor</key>
	<string>0,215,218,214</string>
	<key>User.Options.Grid.XAxisColor</key>
	<string>0,209,86,71</string>
	<key>User.Options.Grid.YAxisColor</key>
	<string>0,48,162,94</string>
	<key>User.Options.Grid.ZAxisColor</key>
	<string>0,34,135,213</string>
	<key>User.Options.UiPaintColors.NormalStart</key>
	<string>0,217,239,210</string>
	<key>User.Options.UiPaintColors.NormalEnd</key>
	<string>0,217,239,210</string>
	<key>User.Options.UiPaintColors.NormalBorder</key>
	<string>0,133,183,120</string>
	<key>User.Options.UiPaintColors.MouseOverControlStart</key>
	<string>0,180,222,168</string>
	<key>User.Options.UiPaintColors.MouseOverControlEnd</key>
	<string>0,180,222,168</string>
	<key>User.Options.UiPaintColors.MouseOverControlBorder</key>
	<string>0,65,175,186</string>
	<key>User.Options.UiPaintColors.HotStart</key>
	<string>0,208,236,239</string>
	<key>User.Options.UiPaintColors.HotEnd</key>
	<string>0,208,236,239</string>
	<key>User.Options.UiPaintColors.HotBorder</key>
	<string>0,65,175,186</string>
	<key>User.Options.UiPaintColors.PressedStart</key>
	<string>0,184,229,173</string>
	<key>User.Options.UiPaintColors.PressedEnd</key>
	<string>0,184,229,173</string>
	<key>User.Options.UiPaintColors.PressedBorder</key>
	<string>0,71,167,49</string>
	<key>User.Options.UiPaintColors.TextEnabled</key>
	<string>0,26,81,10</string>
	<key>User.Options.UiPaintColors.TextDisabled</key>
	<string>0,26,81,10</string>
	<key>User.Options.UiPaintColors.ActiveCaption</key>
	<string>0,184,229,173</string>
	<key>User.Options.UiPaintColors.InactiveCaption</key>
	<string>0,217,239,210</string>
	<key>User.Options.UiPaintColors.ActiveViewportTitle</key>
	<string>0,55,91,46</string>
	<key>User.Options.UiPaintColors.InactiveViewportTitle</key>
	<string>0,217,239,210</string>
	<key>User.Options.UiPaintColors.EditBoxBackground</key>
	<string>0,255,255,255</string>
	<key>User.Options.UiPaintColors.InactiveTabBackground</key>
	<string>0,217,239,210</string>
</dict>
</plist>
