<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Codigrate.ThemeName</key>
	<string>Codigrate Sakura</string>
	<key>User.Options.Appearance.ViewportBackgroundColor</key>
	<string>0,254,252,252</string>
	<key>User.Options.Appearance.FrameBackgroundColor</key>
	<string>0,252,244,247</string>
	<key>User.Options.Appearance.CommandPromptBackgroundColor</key>
	<string>0,255,255,255</string>
	<key>User.Options.Appearance.CommandPromptTextColor</key>
	<string>0,61,0,19</string>
	<key>User.Options.Appearance.CommandPromptActiveHypertextColor</key>
	<string>0,181,75,102</string>
	<key>User.Options.Appearance.SelectedObjectColor</key>
	<string>0,181,75,102</string>
	<key>User.Options.Appearance.EditCandidateColor</key>
	<string>0,239,165,191</string>
	<key>User.Options.Appearance.LockedObjectColor</key>
	<string>0,148,102,125</string>
	<key>User.Options.Appearance.CrosshairColor</key>
	<string>0,148,102,125</string>
	<key>User.Options.Appearance.CurrentLayerBackgroundColor</key>
	<string>0,255,201,220</string>
	<key>User.Options.Appearance.PageViewPaperColor</key>
	<string>0,248,219,230</string>
	<key>User.Options.Appearance.DefaultLayerColor</key>
	<string>0,61,0,19</string>
	<key>User.Options.Appearance.DefaultColor</key>
	<string>0,61,0,19</string>
	<key>User.Options.Appearance.TrackingColor</key>
	<string>0,188,156,92</string>
	<key>User.Options.Appearance.FeedbackColor</key>
	<string>0,181,75,102</string>
	<key>User.Options.Appearance.WorldCoordinateIconXAxisColor</key>
	<string>0,190,92,85</string>
	<key>User.Options.Appearance.WorldCoordinateIconYAxisColor</key>
	<string>0,48,162,94</string>
	<key>User.Options.Appearance.WorldCoordinateIconZAxisColor</key>
	<string>0,57,127,183</string>
	<key>User.Options.Appearance.DirectionArrowColorU</key>
	<string>0,190,92,85</string>
	<key>User.Options.Appearance.DirectionArrowColorV</key>
	<string>0,48,162,94</string>
	<key>User.Options.Appearance.DirectionArrowColorW</key>
	<string>0,57,127,183</string>
	<key>User.Options.Grid.ThinLineColor</key>
	<string>0,236,234,234</string>
	<key>User.Options.Grid.ThickLineColor</key>
	<string>0,221,219,219</string>
	<key>User.Options.Grid.XAxisColor</key>
	<string>0,190,92,85</string>
	<key>User.Options.Grid.YAxisColor</key>
	<string>0,48,162,94</string>
	<key>User.Options.Grid.ZAxisColor</key>
	<string>0,57,127,183</string>
	<key>User.Options.UiPaintColors.NormalStart</key>
	<string>0,252,244,247</string>
	<key>User.Options.UiPaintColors.NormalEnd</key>
	<string>0,252,244,247</string>
	<key>User.Options.UiPaintColors.NormalBorder</key>
	<string>0,248,219,230</string>
	<key>User.Options.UiPaintColors.MouseOverControlStart</key>
	<string>0,255,214,224</string>
	<key>User.Options.UiPaintColors.MouseOverControlEnd</key>
	<string>0,255,214,224</string>
	<key>User.Options.UiPaintColors.MouseOverControlBorder</key>
	<string>0,174,192,155</string>
	<key>User.Options.UiPaintColors.HotStart</key>
	<string>0,219,234,203</string>
	<key>User.Options.UiPaintColors.HotEnd</key>
	<string>0,219,234,203</string>
	<key>User.Options.UiPaintColors.HotBorder</key>
	<string>0,174,192,155</string>
	<key>User.Options.UiPaintColors.PressedStart</key>
	<string>0,255,201,220</string>
	<key>User.Options.UiPaintColors.PressedEnd</key>
	<string>0,255,201,220</string>
	<key>User.Options.UiPaintColors.PressedBorder</key>
	<string>0,222,132,158</string>
	<key>User.Options.UiPaintColors.TextEnabled</key>
	<string>0,61,0,19</string>
	<key>User.Options.UiPaintColors.TextDisabled</key>
	<string>0,61,0,19</string>
	<key>User.Options.UiPaintColors.ActiveCaption</key>
	<string>0,255,201,220</string>
	<key>User.Options.UiPaintColors.InactiveCaption</key>
	<string>0,252,244,247</string>
	<key>User.Options.UiPaintColors.ActiveViewportTitle</key>
	<string>0,181,75,102</string>
	<key>User.Options.UiPaintColors.InactiveViewportTitle</key>
	<string>0,252,244,247</string>
	<key>User.Options.UiPaintColors.EditBoxBackground</key>
	<string>0,255,255,255</string>
	<key>User.Options.UiPaintColors.InactiveTabBackground</key>
	<string>0,252,244,247</string>
</dict>
</plist>
