<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Codigrate.ThemeName</key>
	<string>Codigrate Miami</string>
	<key>User.Options.Appearance.ViewportBackgroundColor</key>
	<string>0,51,18,29</string>
	<key>User.Options.Appearance.FrameBackgroundColor</key>
	<string>0,83,32,51</string>
	<key>User.Options.Appearance.CommandPromptBackgroundColor</key>
	<string>0,39,13,22</string>
	<key>User.Options.Appearance.CommandPromptTextColor</key>
	<string>0,213,198,206</string>
	<key>User.Options.Appearance.CommandPromptActiveHypertextColor</key>
	<string>0,255,95,162</string>
	<key>User.Options.Appearance.SelectedObjectColor</key>
	<string>0,255,95,162</string>
	<key>User.Options.Appearance.EditCandidateColor</key>
	<string>0,23,199,172</string>
	<key>User.Options.Appearance.LockedObjectColor</key>
	<string>0,204,162,182</string>
	<key>User.Options.Appearance.CrosshairColor</key>
	<string>0,204,162,182</string>
	<key>User.Options.Appearance.CurrentLayerBackgroundColor</key>
	<string>0,114,46,71</string>
	<key>User.Options.Appearance.PageViewPaperColor</key>
	<string>0,93,38,58</string>
	<key>User.Options.Appearance.DefaultLayerColor</key>
	<string>0,213,198,206</string>
	<key>User.Options.Appearance.DefaultColor</key>
	<string>0,213,198,206</string>
	<key>User.Options.Appearance.TrackingColor</key>
	<string>0,230,178,80</string>
	<key>User.Options.Appearance.FeedbackColor</key>
	<string>0,255,95,162</string>
	<key>User.Options.Appearance.WorldCoordinateIconXAxisColor</key>
	<string>0,236,91,84</string>
	<key>User.Options.Appearance.WorldCoordinateIconYAxisColor</key>
	<string>0,108,201,82</string>
	<key>User.Options.Appearance.WorldCoordinateIconZAxisColor</key>
	<string>0,83,165,220</string>
	<key>User.Options.Appearance.DirectionArrowColorU</key>
	<string>0,236,91,84</string>
	<key>User.Options.Appearance.DirectionArrowColorV</key>
	<string>0,108,201,82</string>
	<key>User.Options.Appearance.DirectionArrowColorW</key>
	<string>0,83,165,220</string>
	<key>User.Options.Grid.ThinLineColor</key>
	<string>0,71,42,52</string>
	<key>User.Options.Grid.ThickLineColor</key>
	<string>0,88,61,70</string>
	<key>User.Options.Grid.XAxisColor</key>
	<string>0,236,91,84</string>
	<key>User.Options.Grid.YAxisColor</key>
	<string>0,108,201,82</string>
	<key>User.Options.Grid.ZAxisColor</key>
	<string>0,83,165,220</string>
	<key>User.Options.UiPaintColors.NormalStart</key>
	<string>0,83,32,51</string>
	<key>User.Options.UiPaintColors.NormalEnd</key>
	<string>0,83,32,51</string>
	<key>User.Options.UiPaintColors.NormalBorder</key>
	<string>0,93,38,58</string>
	<key>User.Options.UiPaintColors.MouseOverControlStart</key>
	<string>0,60,23,36</string>
	<key>User.Options.UiPaintColors.MouseOverControlEnd</key>
	<string>0,60,23,36</string>
	<key>User.Options.UiPaintColors.MouseOverControlBorder</key>
	<string>0,5,144,134</string>
	<key>User.Options.UiPaintColors.HotStart</key>
	<string>0,3,83,77</string>
	<key>User.Options.UiPaintColors.HotEnd</key>
	<string>0,3,83,77</string>
	<key>User.Options.UiPaintColors.HotBorder</key>
	<string>0,5,144,134</string>
	<key>User.Options.UiPaintColors.PressedStart</key>
	<string>0,114,46,71</string>
	<key>User.Options.UiPaintColors.PressedEnd</key>
	<string>0,114,46,71</string>
	<key>User.Options.UiPaintColors.PressedBorder</key>
	<string>0,153,34,77</string>
	<key>User.Options.UiPaintColors.TextEnabled</key>
	<string>0,213,198,206</string>
	<key>User.Options.UiPaintColors.TextDisabled</key>
	<string>0,213,198,206</string>
	<key>User.Options.UiPaintColors.ActiveCaption</key>
	<string>0,114,46,71</string>
	<key>User.Options.UiPaintColors.InactiveCaption</key>
	<string>0,83,32,51</string>
	<key>User.Options.UiPaintColors.ActiveViewportTitle</key>
	<string>0,255,95,162</string>
	<key>User.Options.UiPaintColors.InactiveViewportTitle</key>
	<string>0,83,32,51</string>
	<key>User.Options.UiPaintColors.EditBoxBackground</key>
	<string>0,39,13,22</string>
	<key>User.Options.UiPaintColors.InactiveTabBackground</key>
	<string>0,83,32,51</string>
</dict>
</plist>
