<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Codigrate.ThemeName</key>
	<string>Codigrate Istanbul</string>
	<key>User.Options.Appearance.ViewportBackgroundColor</key>
	<string>0,250,253,253</string>
	<key>User.Options.Appearance.FrameBackgroundColor</key>
	<string>0,219,240,241</string>
	<key>User.Options.Appearance.CommandPromptBackgroundColor</key>
	<string>0,255,255,255</string>
	<key>User.Options.Appearance.CommandPromptTextColor</key>
	<string>0,8,58,65</string>
	<key>User.Options.Appearance.CommandPromptActiveHypertextColor</key>
	<string>0,8,126,142</string>
	<key>User.Options.Appearance.SelectedObjectColor</key>
	<string>0,8,126,142</string>
	<key>User.Options.Appearance.EditCandidateColor</key>
	<string>0,18,172,193</string>
	<key>User.Options.Appearance.LockedObjectColor</key>
	<string>0,14,104,118</string>
	<key>User.Options.Appearance.CrosshairColor</key>
	<string>0,14,104,118</string>
	<key>User.Options.Appearance.CurrentLayerBackgroundColor</key>
	<string>0,163,221,229</string>
	<key>User.Options.Appearance.PageViewPaperColor</key>
	<string>0,145,209,218</string>
	<key>User.Options.Appearance.DefaultLayerColor</key>
	<string>0,8,58,65</string>
	<key>User.Options.Appearance.DefaultColor</key>
	<string>0,8,58,65</string>
	<key>User.Options.Appearance.TrackingColor</key>
	<string>0,189,160,81</string>
	<key>User.Options.Appearance.FeedbackColor</key>
	<string>0,8,126,142</string>
	<key>User.Options.Appearance.WorldCoordinateIconXAxisColor</key>
	<string>0,193,92,83</string>
	<key>User.Options.Appearance.WorldCoordinateIconYAxisColor</key>
	<string>0,48,162,94</string>
	<key>User.Options.Appearance.WorldCoordinateIconZAxisColor</key>
	<string>0,57,127,183</string>
	<key>User.Options.Appearance.DirectionArrowColorU</key>
	<string>0,193,92,83</string>
	<key>User.Options.Appearance.DirectionArrowColorV</key>
	<string>0,48,162,94</string>
	<key>User.Options.Appearance.DirectionArrowColorW</key>
	<string>0,57,127,183</string>
	<key>User.Options.Grid.ThinLineColor</key>
	<string>0,233,235,235</string>
	<key>User.Options.Grid.ThickLineColor</key>
	<string>0,218,220,220</string>
	<key>User.Options.Grid.XAxisColor</key>
	<string>0,193,92,83</string>
	<key>User.Options.Grid.YAxisColor</key>
	<string>0,48,162,94</string>
	<key>User.Options.Grid.ZAxisColor</key>
	<string>0,57,127,183</string>
	<key>User.Options.UiPaintColors.NormalStart</key>
	<string>0,219,240,241</string>
	<key>User.Options.UiPaintColors.NormalEnd</key>
	<string>0,219,240,241</string>
	<key>User.Options.UiPaintColors.NormalBorder</key>
	<string>0,145,209,218</string>
	<key>User.Options.UiPaintColors.MouseOverControlStart</key>
	<string>0,183,226,227</string>
	<key>User.Options.UiPaintColors.MouseOverControlEnd</key>
	<string>0,183,226,227</string>
	<key>User.Options.UiPaintColors.MouseOverControlBorder</key>
	<string>0,192,175,67</string>
	<key>User.Options.UiPaintColors.HotStart</key>
	<string>0,239,234,208</string>
	<key>User.Options.UiPaintColors.HotEnd</key>
	<string>0,239,234,208</string>
	<key>User.Options.UiPaintColors.HotBorder</key>
	<string>0,192,175,67</string>
	<key>User.Options.UiPaintColors.PressedStart</key>
	<string>0,163,221,229</string>
	<key>User.Options.UiPaintColors.PressedEnd</key>
	<string>0,163,221,229</string>
	<key>User.Options.UiPaintColors.PressedBorder</key>
	<string>0,18,172,193</string>
	<key>User.Options.UiPaintColors.TextEnabled</key>
	<string>0,8,58,65</string>
	<key>User.Options.UiPaintColors.TextDisabled</key>
	<string>0,8,58,65</string>
	<key>User.Options.UiPaintColors.ActiveCaption</key>
	<string>0,163,221,229</string>
	<key>User.Options.UiPaintColors.InactiveCaption</key>
	<string>0,219,240,241</string>
	<key>User.Options.UiPaintColors.ActiveViewportTitle</key>
	<string>0,8,126,142</string>
	<key>User.Options.UiPaintColors.InactiveViewportTitle</key>
	<string>0,219,240,241</string>
	<key>User.Options.UiPaintColors.EditBoxBackground</key>
	<string>0,255,255,255</string>
	<key>User.Options.UiPaintColors.InactiveTabBackground</key>
	<string>0,219,240,241</string>
</dict>
</plist>
